{% extends 'base.html.twig' %}
{% block title %}Nos produits{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/product_style.css') }}">
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('js/product_script.js') }}"></script>
{% endblock %}

{% block bodyclass %}class="bodyback "{% endblock %}
{% block body  %}
    <div class="container-fluid mt-4">

        <h2 class="product_title">Nos produits</h2>
        <div class="row">
            <div class="col-3">
                {% include 'produit/_filter.html.twig' with {form: form} only %}
            </div> <!--col 3 -->

            {#            Cards de produits#}
            <div class="col-7">
                {% for article in article %}
                    {% include 'produit/_card.html.twig' with {article: article} only %}
                {% endfor %}
            </div>  <!--col 7 -->

            {#            Pub de droite#}
            <div class="col-2 img-fluid">
                <img  class="img-fluid" src="../img/banniere_livraison.png ">
            </div>  <!--col 2 -->

        </div> <!--row -->
            <div class="pagination">
{#             {{ knp_pagination_render(article)}}#}
            </div>
    </div>

{% endblock %}