{% extends 'base.html.twig' %}
{% block title %}Nos produits{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/product_style.css') }}">

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="{{ asset('js/product_script.js') }}"></script>
{% endblock %}

{% block bodyclass %}class="bodyback "{% endblock %}
{% block body  %}
    <div class="container-fluid mt-4">

        <h2 class="product_title">Nos produits</h2>

        <div class="row">
            <div class="col-3">
                <div class="page-wrapper chiller-theme toggled">
                    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                    <nav id="sidebar" class="sidebar-wrapper">
                        <div class="sidebar-content">
                            <div class="sidebar-brand">
                                <a href="#">Village green</a>
                                <div id="close-sidebar">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <!-- sidebar-search  -->
                            <div class="sidebar-menu">
                                <ul>
                                    <li class="header-menu">
                                        <span>Trier par :</span>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fas fa-euro-sign"></i>
                                            <span>prix</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">Croissant
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">Décroissant</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Budget</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">0€ - 50€
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">50€ - 100€</a>
                                                </li>
                                                <li>
                                                    <a href="#">100€ - 200€</a>
                                                </li>
                                                <li>
                                                    <a href="#">200€ - 300€</a>
                                                </li>
                                                <li>
                                                    <a href="#">400€ - 500€</a>
                                                </li>
                                                <li>
                                                    <a href="#">500€ et plus</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="far fa-gem"></i>
                                            <span>Marque</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">Marque 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Marque 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">Marque 3</a>
                                                </li>
                                                <li>
                                                    <a href="#">Marque 4</a>
                                                </li>
                                                <li>
                                                    <a href="#">Marque 5</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fa fa-chart-line"></i>
                                            <span>A compléter</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">A compléter</a>
                                                </li>
                                                <li>
                                                    <a href="#">A compléter</a>
                                                </li>
                                                <li>
                                                    <a href="#">A compléter</a>
                                                </li>
                                                <li>
                                                    <a href="#">A compléter</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fa fa-globe"></i>
                                            <span>A compléter</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">A compléter</a>
                                                </li>
                                                <li>
                                                    <a href="#">A compléter</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="header-menu">
                                        <span>Catégories</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-music"></i>
                                            <span>Pianos</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-music"></i>
                                            <span>Guitares</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-music"></i>
                                            <span>Examples</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- sidebar-menu  -->
                        </div>
                    </nav>
                </div>
            </div> <!--col 3 -->
            <div class="col-7">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success ">
                        {{ message }}
                    </div>
                {% endfor %}
            {% for article in article %}
                    <div class="example">
                        <article class="card depth--two mb-4">
                            <figure class="image">
                                <img src="{{article.linkpicture}}"  alt="{{article.artNom}}" />
                            </figure>
                            <div class="card__body">
                                <header class="card__primary-title">
                                    <h2 class="text-large">{{article.artNom}}</h2>
                                    <h3 class="text-secondary text-normal text-small">{{ article.artLibelle}}</h3>
                                </header>
                                <div class="card__supporting-text">
                                    {{ article.artPrixHt }}€
                                </div>
                            </div>
                            <footer class="card__actions">
                                <a class="btn" href="{{ path('produits_details', {'id': article.artId}) }}">Details</a>
                                <a class="btn" href="{{ path('cart_add', {'id':article.artId}) }}">Ajouter au panier</a>
                            </footer>
                        </article>
                    </div>
            {% endfor %}
            </div>  <!--col 7 -->
            <div class="col-2 img-fluid">
<img  class="img-fluid" src="../img/banniere_livraison.png ">
            </div>  <!--col 2 -->
        </div> <!--row -->

    </div>
{% endblock %}