{{ form_start(form) }}
    {{ form_row(form.utiIdentifiant)}}
    {{ form_row(form.utiNom)}}
    {{ form_row(form.utiPrenom)}}
    {{ form_row(form.utiAdresse)}}
    {{ form_row(form.utiAdresse2)}}
    {{ form_row(form.utiVille)}}
    {{ form_row(form.utiCodepostal)}}
    {{ form_row(form.utiSexe)}}
    {{ form_row(form.utiDateDeNaissance)}}
    {{ form_row(form.utiMdp)}}
    {{ form_row(form.confirm_utiMdp)}}
    {{ form_row(form.utiMail)}}
    {{ form_row(form.utiTel)}}
    {{ form_row(form.pay, {'label': 'Votre pays : '})}}
{{ form_errors(form) }}
<div class="form-group row text-center">
    <div class="col-sm-12">
        <a class="btn btn-success" href="{{ path('home') }}">Retour a l'accueil</a>
        <button type="submit" class="btn btn-success">Souscrire</button>
    </div>
</div>

{{ form_end(form) }}



