{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>UtiId</th>
                <td>{{ utilisateur.utiId }}</td>
            </tr>
            <tr>
                <th>UtiAdresse</th>
                <td>{{ utilisateur.utiAdresse }}</td>
            </tr>
            <tr>
                <th>UtiAdresse2</th>
                <td>{{ utilisateur.utiAdresse2 }}</td>
            </tr>
            <tr>
                <th>UtiVille</th>
                <td>{{ utilisateur.utiVille }}</td>
            </tr>
            <tr>
                <th>UtiCodepostal</th>
                <td>{{ utilisateur.utiCodepostal }}</td>
            </tr>
            <tr>
                <th>UtiNom</th>
                <td>{{ utilisateur.utiNom }}</td>
            </tr>
            <tr>
                <th>UtiRole</th>
                <td>{{ utilisateur.utiRole }}</td>
            </tr>
            <tr>
                <th>UtiPrenom</th>
                <td>{{ utilisateur.utiPrenom }}</td>
            </tr>
            <tr>
                <th>UtiSexe</th>
                <td>{{ utilisateur.utiSexe }}</td>
            </tr>
            <tr>
                <th>UtiDateDeNaissance</th>
                <td>{{ utilisateur.utiDateDeNaissance ? utilisateur.utiDateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UtiMail</th>
                <td>{{ utilisateur.utiMail }}</td>
            </tr>
            <tr>
                <th>UtiTel</th>
                <td>{{ utilisateur.utiTel }}</td>
            </tr>
            <tr>
                <th>UtiId1</th>
                <td>{{ utilisateur.utiId1 }}</td>
            </tr>
            <tr>
                <th>UtiIdentifiant</th>
                <td>{{ utilisateur.utiIdentifiant }}</td>
            </tr>
            <tr>
                <th>UtiMdp</th>
                <td>{{ utilisateur.utiMdp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">back to list</a>

    <a href="{{ path('utilisateur_edit', {'utiId': utilisateur.utiId}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
