{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent ()}}
<link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}">
{% endblock %}
{% block bodyclass %}class="bodyback"{% endblock %}
{% block body %}
    <div class="container-fluid text-center">
    <div class="entete">
            <img src="{{ asset('../img/logo village green.png') }}" alt="Logo Village Green" class="logo">
                {% if not app.user %}
        <h1 class="text-center">Bienvenue chez Village Green </h1>
        {% else %}
            <h1 class="text-center">Bienvenue {{ app.user.utiIdentifiant }} </h1>
        {% endif %}
        </div>
     <img src="{{ asset('../img/banniere_livraison.png') }}" alt="Banniere livraison" class="banniere">
        <div class="col banniere2">
            <a href="{{ asset('../categorie/1')}}"><img src="{{ asset('../img/TOP VENTES ROLL OVER guitare.png') }}" alt="Banniere Meilleures Ventes" class=""></a>  
            <a href="{{ asset('../categorie/2') }}"><img src="{{ asset('../img/TOP VENTES ROLL OVER piano.png') }}"  alt="Banniere Meilleures Ventes" class=""></a> 
            <a href="{{ asset('../categorie/45') }}"><img src="{{ asset('../img/TOP VENTES ROLL OVER saxo.png') }}"  alt="Banniere Meilleures Ventes" class=""></a></div>
                    
                    <img src="{{ asset('../img/pub guitare.png') }}" alt="Pub guitare Gibson/Ibanez" class="pub ">                                      
            <div class="offset-2 col-8 " id="categories" >       
                <div class="row1 col-12">
                    <div class="container">
                        <div class="categorie">
                            <img src="{{ asset('/img/CATEGORIES ROLL OVER access.png')}}" class="image " alt="Categorie accessoires">
                        </div>             
                        <div class="middle">
                                <div class="text" ><a href="#">Voir</a> </div>
                        </div>
                </div>
                <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER batterie.png')}}" class="image " alt="Categorie batterie">
                    </div>             
                        <div class="middle">
                                <div class="text" >Voir</div>
                        </div>
                </div>
                <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER cases.png')}}" class="image " alt="Categorie cases">
                    </div>             
                        <div class="middle">
                                <div class="text" >Voir
                                </div>
                        </div>
                </div>
                <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER guitare.png')}}" class="image " alt="Categorie guitare">
                    </div>             
                        <div class="middle">
                                <div class="text" >Voir
                                </div>
                        </div>
                </div>
            </div>
            <div class="row2 col-12">
            <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER micro.png')}}" class="image " alt="Categorie micro">
                    </div>             
                        <div class="middle" >
                                <div class="text" style="">Voir
                                </div>
                        </div>
                </div>
                <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER piano.png')}}" class="image " alt="Categorie piano">
                    </div>             
                        <div class="middle">
                                <div class="text" >Voir
                                </div>
                        </div>
                </div>
                <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER saxo.png')}}" class="image" alt="Categorie saxophone">
                    </div>             
                        <div class="middle">
                                <div class="text" >Voir
                                </div>
                        </div>
                </div>
                <div class="container">
                    <div class="categorie">
                        <img src="{{ asset('/img/CATEGORIES ROLL OVER sono.png')}}" class="image " alt="Categorie son">
                    </div>             
                        <div class="middle">
                                <div class="text" >Voir
                                </div>
                        </div>
                </div>
                
                    </div>            
            <div class="row3 col-12 text-center">                            
                        <div class="column">
                            <h2 class="text-center">Nos Partenaires</h2>
                                <img src="{{ asset('../img/partenaires 4 logos.png') }}" alt="Nos partenaires" class="img-responsive">    
                                <img src="{{ asset('../img/banniere centre 4 pictos.png') }}" alt="" class="img-responsive banniere4">
                                      
                        </div> 
                    </div>
                </div>
            </div>
        </div>
 {% endblock %}