{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.proId }}</td>
            </tr>
            <tr>
                <th>ProCoef</th>
                <td>{{ promotion.proCoef }}</td>
            </tr>
            <tr>
                <th>ProDateDebut</th>
                <td>{{ promotion.proDateDebut ? promotion.proDateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ProDateFin</th>
                <td>{{ promotion.proDateFin ? promotion.proDateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('promotion_index') }}">back to list</a>

    <a href="{{ path('promotion_edit', {'id': promotion.proId}) }}">edit</a>

    {{ include('promotion/_delete_form.html.twig') }}
{% endblock %}
