{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FactNum</th>
                <th>FactPrixHt</th>
                <th>FactDate</th>
                <th>FactPrixTtc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.factId }}</td>
                <td>{{ facture.factNum }}</td>
                <td>{{ facture.factPrixHt }}</td>
                <td>{{ facture.factDate ? facture.factDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.factPrixTtc }}</td>
                <td>
                    <a href="{{ path('facture_show', {'id': facture.factId}) }}">show</a>
                    <a href="{{ path('facture_edit', {'id': facture.factId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facture_new') }}">Create new</a>
{% endblock %}
