{% extends 'base.html.twig' %}

{% block title %}LigneDeCommande{% endblock %}

{% block body %}
    <h1>LigneDeCommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_de_commande.ligneId }}</td>
            </tr>
            <tr>
                <th>LignePrix</th>
                <td>{{ ligne_de_commande.lignePrix }}</td>
            </tr>
            <tr>
                <th>LigneQuantite</th>
                <td>{{ ligne_de_commande.ligneQuantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_de_commande_index') }}">back to list</a>

    <a href="{{ path('ligne_de_commande_edit', {'id': ligne_de_commande.ligneId}) }}">edit</a>

    {{ include('ligne_de_commande/_delete_form.html.twig') }}
{% endblock %}
